# Fichiers objets et binaires
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Fichiers de build et de compilation
game/build/*
!game/build/.gitkeep
game/CMakeCache.txt
# Fichiers de configuration de Visual Studio Code
.vscode/
*.code-workspace

# fichier de config session pour Tiled
ressources/levels/switness.tiled-session

# Autres fichiers et dossiers à ignorer
*.log
*.swp
*.bak
*.tmp
Thumbs.db
.DS_Store
