# Fichiers objets et binaires
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Fichiers de build et de compilation
game/build/*

# Fichiers de configuration de Visual Studio Code
.vscode/
*.code-workspace

# Autres fichiers et dossiers à ignorer
*.log
*.swp
*.bak
*.tmp
Thumbs.db
.DS_Store

