[submodule "gf"]
	path = gf
	url = git@github.com:GamedevFramework/gf.git
[submodule "Sources/gf"]
	path = Sources/gf
	url = https://github.com/GamedevFramework/gf
[submodule "Sources/Sources/gf/library/vendor/stb"]
	path = Sources/Sources/gf/library/vendor/stb
	url = git@github.com:nothings/stb.git
[submodule "Sources/Sources/gf/tests/googletest"]
	path = Sources/Sources/gf/tests/googletest
	url = git@github.com:google/googletest.git
